<%- include('../partials/header') %>

<section>
    <% recipe.forEach(r) { %>
        <div class="recipe-box">
            <%= `<img class= "recipe-box-pic" src=${recipe.image} alt="Picture of ${recipe.title}."` %>
            <%= `${recipe.title} %>
        </div>
    <% } %>
</section>

<%- include('../partials/footer') %>