<nav>
    <% if (user) { %>
        <a href="/logout">Log Out</a>
    <% } else { %>
        <a href="/auth/google">Login</a>
    <% } %>
    <!-- <a href="/recipes/new" <%- title === 'Add Recipe' ? 'class="active"' : '' %>>LOGIN</a> -->
    <!-- <a href="/recipes/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>>ADD RECIPE</a> -->
    <a href="/recipes" <%- title === 'All Recipes' ? 'class="active"' : '' %>>BROWSE</a>
</nav>