<nav>
    <a href="/recipes/new" <%- title === 'Add Recipe' ? 'class="active"' : '' %>>LOGIN</a>
    <a href="/recipes/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>>ADD RECIPE</a>
    <a href="/recipes" <%- title === 'All Movies' ? 'class="active"' : '' %>>BROWSE</a>
</nav>